<div class="wrapper row justify-content-center">
  <div class="col-3" style="margin-top: 100px;">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h2 class="text-center text-primary">Zarejestruj użytkownika</h2>
      <hr>

      <div formGroupName="person">
        <label for="firstName">Imię</label>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Imię" formControlName="firstName"
            [ngClass]="{'is-invalid': registerForm.get('person.firstName').errors && registerForm.get('person.firstName').touched}">
          <div class="invalid-feedback">Imię jest wymagane. Maksymalna liczba znaków to 50.</div>
        </div>

        <div class="form-group">
         <label for="lastName">Nazwisko</label>
          <input type="text" class="form-control" placeholder="Nazwisko" formControlName="lastName"
            [ngClass]="{'is-invalid': registerForm.get('person.lastName').errors && registerForm.get('person.lastName').touched}">
          <div class="invalid-feedback">Nazwisko jest wymagane. Maksymalna liczba znaków to 50.</div>
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" placeholder="E-mail" formControlName="email"
            [ngClass]="{'is-invalid': registerForm.get('person.email').errors && registerForm.get('person.email').touched}">
          <div *ngIf="registerForm.get('person.email').hasError('required') && registerForm.get('person.email').touched"
            class="invalid-feedback">
            E-mail jest wymagany.
          </div>
          <div *ngIf="registerForm.get('person.email').hasError('email') && registerForm.get('person.email').touched"
            class="invalid-feedback">
            E-mail nie jest w poprawnym formacie.
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Numer telefonu</label>
          <input type="text" class="form-control" placeholder="Numer telefonu" formControlName="phone"
            [ngClass]="{'is-invalid': registerForm.get('person.phone').errors && registerForm.get('person.phone').touched}">
          <div class="invalid-feedback">Proszę podać poprawny numer telefonu.</div>
        </div>

        <div class="form-group">
          <label for="user-sex">Płeć</label>
          <select class="form-control custom-select" formControlName="sex" id="user-sex">
            <option value="Male" selected>Mężczyzna</option>
            <option value="Female">Kobieta</option>
            <option value="NotSpecified">Nie określono</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" placeholder="Nazwa użytkownika" formControlName="username"
          [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}">
        <div class="invalid-feedback">Nazwa użytkownika musi mieć od 6 do 50 znaków.</div>
      </div>

      <div class="form-group">
        <label for="user-role">Rola użytkownika</label>
        <select class="form-control custom-select" formControlName="userRole" id="user-role">
          <option value="Agent">Agent</option>
          <option value="Admin">Admin</option>
        </select>
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Rejestracja</button>
      </div>

    </form>
  </div>

</div>