<div class="wrapper row justify-content-center">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="createTicket()">
      <h2 class="text-center text-primary">Stwórz zgłoszenie</h2>
      <hr>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Temat" formControlName="subject"
          [ngClass]="{'is-invalid': registerForm.get('subject').errors && registerForm.get('subject').touched}">
        <div class="invalid-feedback">Temat musi mieć co najmniej 10 znaków.</div>
      </div>

      <div class="form-group">
        <label for="priority">Priorytet</label>
        <select class="form-control custom-select" formControlName="priority" id="priority">
          <option value="Low">Niski</option>
          <option value="Medium">Normalny</option>
          <option value="High">Wysoki</option>
        </select>
      </div>

      <div class="form-group">
        <label for="user-role">Typ usertki</label>
        <select class="form-control custom-select" formControlName="type" id="type">
          <option value="1">Mechaniczna</option>
          <option value="2">Elektryczna</option>
          <option value="3">Inna</option>
        </select>
      </div>

      <div class="form-group">
          <label for="user-role">Model</label>
          <select class="form-control custom-select" formControlName="itemid" id="itemid">
            <option value="1">HP</option>
            <option value="2">Apple</option>
            <option value="3">Dell</option>
          </select>
        </div>

      <div class="form-group">
        <label for="description">Opis</label>
        <textarea class="form-control" name="description" formControlName="description"
          [ngClass]="{'is-invalid': registerForm.get('description').errors && registerForm.get('description').touched}"></textarea>
        <div class="invalid-feedback">Opis musi mieć co najmniej 20 znaków.</div>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-warning" (click)="router.navigate(['/tickets']);">Cofnij</button>
        <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Stwórz zgłoszenie</button>
      </div>

    </form>
  </div>

</div>