<div class="wrapper">
  <div class="container">
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadPersons()" novalidate>

          <div class="px-2" style="margin-left: 47%">
              <label for="sortBy">Sortuj po</label>
              <select class="form-control ml-1" style="width: 130px" id="sortBy" [(ngModel)]="personParams.column" name="sortBy">
                  <option *ngFor="let column of columnList" [value]="column.value">
                      {{column.display}}
                  </option>
              </select>
          </div>

          <div class="px-2">
              <label for="sort">Sortuj</label>
              <select class="form-control ml-1" style="width: 130px" id="sort" [(ngModel)]="personParams.sorting" name="sort">
                  <option *ngFor="let direction of directionSortingList" [value]="direction.value">
                      {{direction.display}}
                  </option>
              </select>
          </div>

          <div class="btn-group float-right" style="margin-top: 2%;">
              <button type='submit' class="btn btn-primary" style="margin-left:10px">Zastosuj filtry</button>
              <button type='button' class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">
                  Resetuj filtry
              </button>
          </div>
      </form>
      <div class="row justify-content-center">
          <table class="col-md-10 table table-info" style="margin-top: 1%;">
              <thead>
                  <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Imię i Nazwisko</th>
                      <th scope="col">Email</th>
                      <th scope="col">Numer telefonu</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="data-row" *ngFor="let person of persons">
                      <th scope="row">{{ person.id }}</th>
                      <td>
                          <span class="name-span" [routerLink]="['/persons/', person.id]">
                            {{ person.firstName }}
                            {{ person.lastName }}
                          </span>
                      </td>
                      <td>{{ person.email }}</td>
                      <td>{{ person.phone }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>

<ngx-spinner bdColor="rgba(255, 255, 255, 0.2)" type="ball-spin-clockwise" color="#073642"></ngx-spinner>