.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.dropdown-toggle {
    margin-left: 27px;
}

.btn-admin {
    color: #fff;
    border-color: #fff;
}

.btn-admin:hover, .btn-admin:active {
    background-color: #073642 !important;
    border-color: #fff !important;
}

.btn-admin:active {
    background-color: #073642;
}

.btn-admin:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.logged-in-container {
    margin-right: 60px;
}