<div class="wrapper"></div>
<div style="margin-top: 125px;"></div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7 ticket-container">
    <div class="ticket-container__header row">
      <div class="col-md-3">
        <div class="ticket-container__producer--dell ml-5"
          *ngIf="ticket.item.productSpecification.manufacturer == 'Dell'">
        </div>
        <div class="ticket-container__producer--hp ml-5" *ngIf="ticket.item.productSpecification.manufacturer == 'HP'">
        </div>
      </div>
      <div class="ticket-container__field col-sm-3">
        <h4>Zgłoszenie</h4>
        <h3>Z-{{ ticket.id }}</h3>
      </div>
      <div class="ticket-container__field col-md-3">
        <h4>Zgłaszający</h4>
        <a href="/">
          <h3>{{ ticket.item.customer.person.firstName }} {{ ticket.item.customer.person.lastName }}</h3>
        </a>
      </div>
      <div class="ticket-container__field col-md-3">
        <h4>Stworzono</h4>
        <h3>{{ ticket.created | date: 'dd/MM/yyyy'}}</h3>
      </div>
    </div>
    <hr class="container-line">
    <div class="ticket-container__body">
      <form [formGroup]="editForm" (ngSubmit)="editTicket()">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5">
            <h4>Temat</h4>
            <div class="input-container">
              <input type="text" class="form-control" formControlName="subject"
                [ngClass]="{'is-invalid': editForm.get('subject').errors && editForm.get('subject').touched}">
              <div class="invalid-feedback">Temat jest wymagany. Maksymalna liczba znaków to 100.</div>
              <i class="fa fa-pencil" *ngIf="!isViewMode"></i>
            </div>
          </div>
          <div class="col-5">
            <h4>Ostatnio modyfikowano</h4>
            <h3>{{ ticket.created | date: 'dd/MM/yyyy' }}</h3>
          </div>
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-5">
            <h4>Status</h4>
            <select class="form-control select-form" formControlName="status">
              <option value="New">Nowe</option>
              <option value="WorkedOn">W trakcie</option>
              <option value="Closed">Zamknięte</option>
            </select>
          </div>
          <div class="col-5">
            <h4>Priorytet</h4>
            <select class="form-control select-form" formControlName="priority">
              <option value="Low">Niski</option>
              <option value="Medium">Średni</option>
              <option value="High">Wysoki</option>
            </select>
          </div>
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-5">
            <h4>Model</h4>
            <a href="/">
              <h3>{{ ticket.item?.productSpecification?.series }} {{ ticket.item?.productSpecification?.name }}</h3>
            </a>
          </div>
          <div class="col-5">
            <h4>Rocznik</h4>
            <h3>{{ ticket.item?.productionYear | date: 'yyyy' }}</h3>
          </div>
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-5">
            <h4>Typ</h4>
            <div class="input-container">
              <input type="text" class="form-control" formControlName="type"
                [ngClass]="{'is-invalid': editForm.get('type').errors && editForm.get('type').touched}">
              <i class="fa fa-pencil" *ngIf="!isViewMode"></i>
            </div>
          </div>
          <div class="col-5">
            <h4>Źródło</h4>
            <h3>{{ ticket.origin }}</h3>
          </div>
          <div class="col-1"></div>
          <div class="col-1"></div>
          <div class="col-11">
            <h4>Opis</h4>
            <div class="input-container">
              <textarea class="form-control" name="description" formControlName="description"
                [ngClass]="{'is-invalid': editForm.get('description').errors && editForm.get('description').touched}"></textarea>
              <i class="fa fa-pencil" *ngIf="!isViewMode"></i>
              <div class="invalid-feedback">Opis musi mieć co najmniej 20 znaków.</div>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="button-div">
      <button class="btn btn-primary edit-button" (click)="editTicket()" *ngIf="isViewMode">Edytuj</button>
      <button class="btn btn-info edit-button w-10" (click)="cancel()" *ngIf="!isViewMode">Odrzuć</button>
      <button class="btn btn-primary edit-button w-10" (click)="update()" *ngIf="!isViewMode">Zapisz</button>
    </div>
  </div>

  <div class="notes-container col-md-3">
    <div class="notes-container__header">
      <h1>Notatki</h1>
    </div>
    <hr class="container-line">
    <div class="notes-container__body">
      <accordion [isAnimated]="true">
        <accordion-group heading="Dotyczące zgłoszenia">
          <div class="row" *ngFor="let note of ticket.ticketNotes">
            <div class="col-10">
              <p class="note-container">
                {{ note.text }}
              </p>
            </div>
            <div class="col-2" (click)="deleteNote(note.id)"><i class="fa fa-times note-icon" title="Usuń notatkę"></i></div>
          </div>
          <div class="add-button-container" *ngIf="!addTicketNoteRowMode">
            <button class="btn btn-success" (click)="addNoteRow('ticket')">
              <i class="fa fa-plus-circle mr-1"></i>
              Dodaj
            </button>
          </div>
          <textarea class="note-area" *ngIf="addTicketNoteRowMode" [(ngModel)]="newNote"></textarea>
          <div class="add-button-container" *ngIf="addTicketNoteRowMode">
            <button class="btn btn-info edit-button" (click)="cancelNote()">Odrzuć</button>
            <button class="btn btn-primary edit-button" (click)="addNote('ticket')">Dodaj</button>
          </div>
        </accordion-group>
        <accordion-group heading="Dotyczące zgłaszającego">
          <div class="row" *ngFor="let note of ticket.customerNotes">
            <div class="col-10">
              <p class="note-container">
                {{ note.text }}
              </p>
            </div>
            <div class="col-2" (click)="deleteNote(note.id)"><i class="fa fa-times note-icon" title="Usuń notatkę"></i></div>
          </div>
          <div class="add-button-container" *ngIf="!addCustomerNoteRowMode">
            <button class="btn btn-success" (click)="addNoteRow('customer')">
              <i class="fa fa-plus-circle mr-1"></i>
              Dodaj
            </button>
          </div>
          <textarea class="note-area" *ngIf="addCustomerNoteRowMode" [(ngModel)]="newNote"></textarea>
          <div class="add-button-container" *ngIf="addCustomerNoteRowMode">
            <button class="btn btn-info edit-button" (click)="cancelNote()">Odrzuć</button>
            <button class="btn btn-primary edit-button" (click)="addNote('customer')">Dodaj</button>
          </div>
        </accordion-group>
        <accordion-group heading="Dotyczące przedmiotu">
          <div class="row" *ngFor="let note of ticket.itemNotes">
            <div class="col-10">
              <p class="note-container">
                {{ note.text }}
              </p>
            </div>
            <div class="col-2" (click)="deleteNote(note.id)"><i class="fa fa-times note-icon" title="Usuń notatkę"></i></div>
          </div>
          <div class="add-button-container" *ngIf="!addItemNoteRowMode">
            <button class="btn btn-success" (click)="addNoteRow('item')">
              <i class="fa fa-plus-circle mr-1"></i>
              Dodaj
            </button>
          </div>
          <textarea class="note-area" *ngIf="addItemNoteRowMode" [(ngModel)]="newNote"></textarea>
          <div class="add-button-container" *ngIf="addItemNoteRowMode">
            <button class="btn btn-info edit-button" (click)="cancelNote()">Odrzuć</button>
            <button class="btn btn-primary edit-button" (click)="addNote('item')">Dodaj</button>
          </div>
        </accordion-group>
        <accordion-group heading="Dotyczące produktu">
          <div class="row" *ngFor="let note of ticket.productSpecificationNotes">
            <div class="col-10">
              <p class="note-container">
                {{ note.text }}
              </p>
            </div>
            <div class="col-2" (click)="deleteNote(note.id)"><i class="fa fa-times note-icon" title="Usuń notatkę"></i></div>
          </div>
          <div class="add-button-container" *ngIf="!addProductSpecificationNoteRowMode">
            <button class="btn btn-success" (click)="addNoteRow('productSpecification')">
              <i class="fa fa-plus-circle mr-1"></i>
              Dodaj
            </button>
          </div>
          <textarea class="note-area" *ngIf="addProductSpecificationNoteRowMode" [(ngModel)]="newNote"></textarea>
          <div class="add-button-container" *ngIf="addProductSpecificationNoteRowMode">
            <button class="btn btn-info edit-button" (click)="cancelNote()">Odrzuć</button>
            <button class="btn btn-primary edit-button" (click)="addNote('productSpecification')">Dodaj</button>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(255, 255, 255, 0.5)" type="ball-spin-clockwise" color="#008cba"></ngx-spinner>