<!-- <form #ticketForm="ngForm" (ngSubmit)="sendTicket()" class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" name="subject" [(ngModel)]="model.subject" placeholder="Temat" required>
  <input class="form-control mr-sm-2" type="text" name="description" [(ngModel)]="model.description" placeholder="Treść" required>
  <input class="form-control mr-sm-2" type="number" name="itemId " [(ngModel)]="model.itemId" placeholder="Model"required>
  <button class="btn btn-success my-2 my-sm-0" type="submit">Wyślij Zgłoszenie!</button>
</form> -->